html{
  font-size: 10px;
  color: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #272828;
}

p{
  font-size: 1rem;
}

small{
  font-size: 1rem;
}

.container{
  margin: 0 auto;
  max-width: 100vw;
  padding: 2vw;
}

.title{
  font-size: 3vw;
  text-align: center;
  color: #fff;
}


.form {
  display:grid;
  margin-bottom: 2vw;
}

.label {
  font-size: 1vw;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  color: white;
}

.input {
  font-size: 2vw;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: none;
  margin-bottom: 1rem;
}

.button {
  color: white;
  padding: 1vh 2vw;
  border: none;
  border-radius: 20px;
  font-size: 1.5vw;
  cursor: pointer;
  background-color:#25252c;
  box-shadow:
    3px 3px 8px #161616,
    -3px -3px 8px #383a3a;
  transition: 0.5s;
  height: 5vh;
}


.button:hover{
background: #383a3a ;
}
.button:active{
background: #0D1016;
}


.card-list{
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) { 
  .card-list{
    justify-content: center;
  }
  .form {
      margin: 3vw auto;
      grid-template-columns: 2fr 1fr;
      grid-gap: 1rem;
      align-items: center;
  }

  .label{
    display: none;
  }

  .input {
    height: 5vh;
    font-size: 3vw;
    margin: 0 1vw;
  }

  .button{
    font-size: 3vw;
  }
}

@media only screen and (min-width: 600px) {
  .card-list{
    justify-content: center;
  }
  .form {
    margin: 3vw auto;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.label{
  display: none;
}

.input {
  height: 5vh;
  font-size: 3vw;
  margin: 0 1vw;
}

.button{
  font-size: 2.5vw;
}

}
@media only screen and (min-width: 768px) {
  .card-list{
    justify-content: center;
  }
  .form {
    margin: 3vw auto;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.label{
  display: none;
}

.input {
  height: 5vh;
  font-size: 2rem;
  margin: 0 1vw;
}

.button{
  font-size: 2rem;
}

}
@media only screen and (min-width: 992px) {
  .card-list{
    justify-content: center;
  }
  .form {
    margin: 3vw auto;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.label{
  display: none;
}

.input {
  height: 5vh;
  font-size: 2rem;
  margin: 0 1vw;
}

.button{
  font-size: 2rem;
}

}