.card{
    display: flex;
    margin: 2vw;
    border-radius: 40px;
    background: #272828;
    box-shadow: inset 5px 5px 13px #161616, 
                inset -5px -5px 13px #383a3a;
}
.cardImage{
    width: 30%;
    border-radius: 40px;
    margin: 1vh;
}
.cardInfo{
    width: 70%;
    text-align: center;
}
.cardTitle{
    font-size: 3vw;
    margin: 2vw 0;
}
.cardDesc{
    font-size: 2.5vw;
    text-align: left;
    margin: 2vw;
    text-align: justify;
    border-radius: 40px;
    padding: 1vw;
}
.cardPopularity{
    font-size: 1.5vw;
    text-align: left;
    margin: 2vw;
    text-align: justify;
}
.cardRelease{
    font-size: 1.5vw;
    text-align: left;
    margin: 2vw;
    text-align: justify;
}
.cardRating{
    font-size: 1.5vw;
    text-align: left;
    margin: 2vw;
    text-align: justify;
}

p{
    margin-bottom: 1vw;
}